{{log model}}
<div class="track-container">
  <div class="artwork-box"><img src="{{model.artwork_url}}" class="track-artwork"></div>
  <div class="artist-info">
    <i class="fa fa-undo"></i>
    <h2 class="song-name">
      {{model.title}}
      {{model.user.username}}
    </h2>
    <i class="fa fa-volume-up"></i>
  </div>
  <div class="play-menu">
    <span class="time-played">0:03</span>
    <div class="bar-box">
      <div class="progress-bar"></div>
    </div>
    <span class="time-left">1:97</span>
  </div>
  <div class="options-menu">
    <i class="fa fa-soundcloud"></i>
    <span class="buy-text">BUY</span>
    <span class="play-text"><i class="fa fa-play-circle"></i>{{model.playback_count}}</span>
    <span class="favorite-text"><i class="fa fa-heart"></i>{{model.favoritings_count}}</span>
  </div>
</div>
{{outlet}}
